#banner {
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("../images/shark.jpg");
  background-size: cover;
  background-position: center;
}

#aboutBody {
  display: flex;
  align-items: center;
}

i {
  margin-right: 1rem;
}
