html {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  color: white;
}

/* Banner styling */

#banner {
  width: 100vw;
  height: 100vh;
  background-image: url("../images/bg.png");
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#banner h1 {
  font-weight: bold;
  font-size: 5rem;
  width: 100%;
  text-align: center;
}

#banner nav {
  display: inline-block;
  text-align: center;
}

.left-align {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.right-align {
  margin-right: 1rem;
  margin-top: 1rem;
}

.left-align a {
  text-align: left;
}

.right-align a {
  text-align: right;
}

#banner a {
  text-decoration: none;
  color: white;
  transition: all 0.75s ease;
}

#banner p {
  font-size: 2.5rem;
  margin-top: 1rem;
}

#banner a:hover {
  letter-spacing: 2rem;
}
