html {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  color: white;
}

b {
  font-weight: bold;
}

/* Header styling */

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  width: 100%;
}

header p {
  display: inline-block;
  padding: 1rem;
}

header h1 {
  display: inline-block;
  padding: 1rem;
  font-weight: bold;
  text-align: center;
  font-style: italic;
  text-shadow: 0.07rem 0.07rem black;
}

header a {
  color: white;
  text-decoration: none;
  opacity: 0.7;
  transition: all 0.75s ease;
}

header a:hover {
  opacity: 1;
}

p.selected {
  font-weight: 700;
  opacity: 1;
}

/* Banner styling */

#banner {
  width: 100vw;
  height: 100vh;
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("../images/banner.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

#banner h1 {
  font-weight: bold;
  font-size: 5rem;
  width: 100%;
  text-align: center;
  font-style: italic;
  text-shadow: 0.07rem 0.07rem black;
}

a {
  text-decoration: none;
  color: white;
}
