html {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  color: white;
}

/* Header styling */

header {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: right;
}

header p {
  display: inline-block;
  padding: 1rem;
}

header a {
  color: white;
  text-decoration: none;
  transition: letter-spacing 0.75s ease;
}

header a:hover {
  letter-spacing: 0.2rem;
  font-weight: bold;
}

/* Banner styling */

#banner {
  width: 100vw;
  height: 100vh;
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("../images/banner.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

#banner h1 {
  font-weight: bold;
  font-size: 5rem;
  width: 100%;
  text-align: center;
  font-style: italic;
  text-shadow: 0.07rem 0.07rem black;
}
